.resposive-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.resposive-item{
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
}

@media (max-width: 768px){
    .resposive-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px){
    .resposive-container{
        grid-template-columns: repeat(1,fr);
    }
}