{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'ideas/css/style.css' %}">
    {%block head%}
        <title>idea_update</title>
    {% endblock %}
</head>
<body>
    {%block content%}
    <div class="main_top">
        <h3>Idea Detail Update</h3>
        <p>아이디어 세부내용 수정 페이지입니다. 아이디어를 구체화하거나 내용을 변경해 보아요!</p>
    </div>
    <form
        action = "{% url 'ideas:update' ideas.pk %}" 
        method="post"
        enctype="multipart/form-data"
        class = "form_detail">
        {% csrf_token %}{{ form.as_p }} 
        <button type="submit" class="create_btn">Submit</button>
    </form>

    {% endblock %}
        
</body>
</html>